#E
amp_gain.*
amp_int_sel.*
amp_int_bias
amp_pdb

#S
osc_trim\[5\]
osc_trim\[4\]
osc_trim\[3\]
osc_trim\[2\]
osc_trim\[1\]
osc_trim\[0\]
clk

#W
rst_n
spare_i
test_mode
serial_sel_i
i2c_dev_addr_i.*
i2c_scl_i
i2c_sda_i
i2c_sda_o
i2c_sda_oe
spi_cpol_i
spi_cpha_i
spi_cs_n_i
spi_clk_i
spi_mosi_i
spi_miso_o
spi_miso_oe
